body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.winning-team {
  font-weight: 500 !important;
}

.losing-team {
  color: grey;
}

.positive-diff {
  color: rgb(6, 172, 0) !important;
}

.negative-diff {
  color: rgb(233, 42, 42) !important;
}

.boxscore-logo {
  width: 50% !important;
  height: auto;
}

.player-portrait {
  display: flex;
}
